body
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  background-color: #f1f9f9;
  padding: 1em;
  text-align: center;

}

.app-cover
{
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.row
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.toggle-button-cover
{
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover
{
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 3px 0 #e7efef;  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.button-cover:before
{
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #e7efef;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button
{
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

pre {
  border: 1px dashed #ddd;
  padding: 1em;
}
